<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments.html::head}"></head>
<body>
<div class="container">
	<h1 class="text-center">회원 수정</h1>

	<div class="flex-box flex-center" style="margin-bottom: 10px">
		<button type="button" onclick="cancel()" class="btn btn-secondary">취소</button>
		<button type="submit" id="submit-btn" class="btn btn-submit btn-primary">수정</button>
	</div>

	<form class="needs-validation" id="form" th:action="@{'/member/edit'}" th:object="${editFormDto}" method="post"
	      novalidate>
		<div class="flex-box" style="flex-direction: column; align-items: center">

			<input type="hidden" th:field="*{id}" name="id" th:value="${editFormDto.id}"/>
			<div style="margin:10px 0;">
				<label for="id" style="margin-right:20px">회원 ID </label>
				<div class="input-group">
					<input id="id" type="text" th:value="${editFormDto.id}" class="form-control" style="width: 360px" disabled/>
				</div>
			</div>

			<div style="margin:10px 0;">
				<label for="name" style="margin-right:20px">이름 </label>
				<div class="input-group flex-nowrap">
					<input id="name" type="text" th:field="*{name}"
					       class="form-control" aria-describedby="addon-wrapping-name" style="width: 360px"/>
				</div>
				<span class="error-text input-group-text" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
				      id="addon-wrapping-name">이름</span>
			</div>

			<div style="margin:10px 0;">
				<label for="email" style="margin-right:20px">이메일</label>
				<div class="input-group flex-nowrap">
					<input id="email" type="text" th:field="*{email}" class="form-control"
					       aria-describedby="addon-wrapping-email" style="width: 360px"/>
				</div>
				<span class="error-text input-group-text" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
				      id="addon-wrapping-email">이메일</span>
			</div>

			<div style="margin:10px 0;">
				<label for="join_at" style="margin-right:20px">가입날짜</label>
				<div class="input-group flex-nowrap">
					<input id="join_at" type="text" th:field="*{joinAt}"
					       class="form-control" aria-describedby="addon-wrapping-joinAt" style="width: 360px"/>
				</div>
				<span class="error-text input-group-text" th:if="${#fields.hasErrors('joinAt')}" th:errors="*{joinAt}"
				      id="addon-wrapping-joinAt">가입날짜</span>
			</div>
		</div>
	</form>
</div>

<footer th:replace="~{fragments.html::footer}"></footer>
<script th:replace="~{fragments.html::cancle-script(url='/member/detail/'+${editFormDto.getId()})}"></script>
<script th:replace="~{fragments.html::submit-script}"></script>
</body>
</html>