<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<!--HEAD-->
<head th:fragment="head">
	<meta charset="UTF-8">
	<title>SpringGames</title>
	<style>
		.container {
			max-widht: 100%;
			padding: 3% 10%;
		}

		table {
			border-collapse: collapse;
			min-width: 100%;
		}

		td, th {
			border: 1px solid black;
			padding: 8px;
			text-align: center;
		}

		.text-center {
			text-align: center;
		}

		.flex-box {
			display: flex;
		}

	</style>
</head>

<!--FOOTER-->
<footer th:fragment="footer"></footer>
</html>