<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments.html::head}"></head>
<body>
<div class="container">

	<h1 class="text-center" style="margin-bottom: 50px;"><i class="fa-solid fa-house"></i> 회원 목록</h1>

	<div th:if="${message}" class="alert alert-primary alert-dismissible success-alert" role="alert" id="success-alert"  >
		<p style="color: #ffffff" th:text="${message}"></p>
	</div>

	<!--이름(입력창), 레벨 필터링(드롭다운박스), 검색(버튼), 회원등록(버튼)-->
	<div class="flex-box" style="margin-top: 20px; justify-content: space-between">
		<div>
			<label for="search-name">이름:</label>
			<input type="text" id="search-name" name="name" th:value="${searchName}" style="margin: 0 10px ">
			<label for="filter-level"> 레벨 :
				<select id="filter-level" th:value="${currentLevel}" style="width: 100px; height: 25px">
					<option value="ALL" th:selected="${currentLevel}=='ALL'">전체</option>
					<option value="BRONZE" th:selected="${currentLevel}=='BRONZE'">BRONZE</option>
					<option value="SILVER" th:selected="${currentLevel}=='SILVER'">SILVER</option>
					<option value="GOLD" th:selected="${currentLevel}=='GOLD'">GOLD</option>
				</select>
			</label>
			<button class="btn btn-primary" onclick="searchButton()">검색</button>
		</div>
		<div>
			<a th:href="@{/member/enroll}" class="btn btn-primary" role="button" style="width: 100px">회원등록</a>
		</div>
	</div>

	<!--회원목롤-->
	<table class="table table-striped table-hover">
		<thead>
		<tr>
			<th scope="col">ID</th>
			<th scope="col">이름</th>
			<th scope="col">이메일</th>
			<th scope="col">가입일자</th>
			<th scope="col">레벨</th>
			<th scope="col">카드 개수</th>
		</tr>
		</thead>
		<tbody>
		<tr th:if="${data.memberList.isEmpty()}">
			<td colspan="6">등록된 회원이 없습니다.</td>
		</tr>
		<tr th:each="member : ${data.memberList}">
			<td th:text="${member.id}"></td>
			<td><a th:href="@{'/member/detail/'+${member.id}}" th:text="${member.name}"></a></td>
			<td th:text="${member.email}"></td>
			<td th:text="${member.joinAt}"></td>
			<td th:text="${member.level}"></td>
			<td th:text="${member.cardTotalCount}"></td>
		</tr>
		</tbody>
	</table>

	<nav class="flex-box flex-center">
		<input type="hidden" id="currentPage" th:value="${data.pageNumber}"/>
		<ul class="pagination">
			<li class="page-item" id="previous" th:if="${data.pageNumber!=1}">
				<a class="page-link" onclick="selectPrevButton()">이전</a>
			</li>
			<li class="page-item" th:each="i : ${#numbers.sequence(1,data.totalPages)}" id="${i}"
			    th:classappend="${data.pageNumber == i} ? 'active'">
				<a class="page-link"
				   th:onclick="|javascript:selectNumberButton('${i}')|"
				   th:text="${i}">
				</a>
			</li>
			<li class="page-item" id="next" th:if="${data.pageNumber}!=${data.totalPages}">
				<a class="page-link" onclick="selectNextButton()">다음</a>
			</li>
		</ul>
	</nav>
</div>

<footer th:replace="~{fragments.html::footer}"></footer>
<script th:replace="~{fragments.html::close-alert-script (alertId='success-alert')}"></script>
<script type="application/javascript">

	var currentUrl = new URL(window.location);
	let currentPage = document.getElementById("currentPage").value;

	function searchButton() {
		let level = document.getElementById('filter-level').value;
		let searchName = document.getElementById('search-name').value;
		if (level != null) currentUrl.searchParams.set('level', level);
		currentUrl.searchParams.set('name', searchName);
		window.location.href = currentUrl.href;
	}

	function selectPrevButton() {
		var prevPage = parseInt(currentPage, 10) - 1;
		currentUrl.searchParams.set("page", prevPage.toString());
		window.location.href = currentUrl.href;
	}

	function selectNumberButton(number) {
		currentUrl.searchParams.set("page", number);
		window.location.href = currentUrl.href;
	}

	function selectNextButton() {
		var nextPage = parseInt(currentPage, 10) + 1;
		currentUrl.searchParams.set("page", nextPage.toString());
		window.location.href = currentUrl.href;
	}

	function highlightCurrentPage() {
		var pageItems = document.querySelectorAll(".page-item"); // 모든 페이지 아이템 가져오기
		pageItems.forEach(function (item) {
			if (item.id === currentPage) {
				item.classList.add(" active"); // 현재 페이지에 해당하는 아이템에 active 클래스 추가
			} else {
				item.classList.remove(" active"); // 다른 페이지 아이템에서 active 클래스 제거
			}
		});
	}

	// 페이지 로드 시에 현재 페이지 강조 함수 호출
	highlightCurrentPage();
</script>
</body>
</html>